/* Общие стили */
body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Основное содержимое */
.container {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.container h1 {
    color: black;
    padding: 50px 0 30px 0;
    font-size: 60px;
}

/* Шапка */
.header {
    background-color: #7FFF00;
    color: black;
    padding: 15px 0;
    margin-bottom: 20px;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-img {
    height: 30px;
    width: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

/* Контейнер для имени и кнопки выхода */
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.nav p {
    margin: 0;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.nav a {
    display: inline-block;
    padding: 8px 20px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.nav a:hover {
    background-color: #588f22;
}

/* Кнопки "Товары" и "Заказы" на главной странице */
.action-btn {
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    margin: 5px;
    font-weight: 600;
    background-color: #00FA9A;
    color: black;
}

.action-btn:hover {
    background-color: #10a169;
}

.order-btn {
    background-color: #A73853;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(167, 56, 83, 0.3);
}

.login-to-order-btn {
    background-color: #A73853;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    display: block;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(167, 56, 83, 0.3);
}

.create-btn {
    background-color: #A73853;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(167, 56, 83, 0.3);
}

.create-btn:hover {
    background-color: #8c2d45;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(167, 56, 83, 0.4);
}

.login-btn {
    background-color: #7FFF00;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.login-btn:hover {
    background-color: #53a700;
}

.submit-btn {
    background-color: #A73853;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    box-shadow: 0 2px 4px rgba(167, 56, 83, 0.3);
}

.submit-btn:hover {
    background-color: #8c2d45;
    box-shadow: 0 4px 8px rgba(167, 56, 83, 0.4);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.price {
    color: #e49b0f;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.welcome-section {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.back-btn {
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 350px;
    font-weight: bold;
    background-color: #a73853;
    color: white;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #e49b0f;
}

.welcome-title {
    color: #a73853;
    margin-top: 0;
    margin-bottom: 20px;
}

.welcome-text {
    color: #666;
    margin: 30px;
}

.action-buttons {
    margin-top: 30px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.login-form {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Ссылка "Посмотреть товары как гость" */
.guest-link {
    text-align: center;
    margin-top: 15px;
}

.guest-link a {
    color: black;
    text-decoration: none;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
}

.form-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.back-link {
    text-align: center;
}

.back-link a {
    color: #e49b0f;
    text-decoration: none;
}


.manager-search-form {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 100%;
}

.manager-search-input {
    flex: 1;
    padding: 15px 25px;
    height: 20px;
    font-size: 16px;
    border: 3px solid #a73853;
    border-radius: 10px;
    outline: none;
    max-width: 600px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.manager-search-btn {
    padding: 14px 30px;
    height: 50px;
    background-color: #a73853;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.manager-search-btn:hover {
    background-color: #e49b0f
}

.manager-reset-link {
    padding: 0px 20px;
    line-height: 50px;
    background-color: #e49b0f;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    white-space: nowrap;
}

.manager-reset-link:hover {
    background-color: #a73853;
    text-decoration: none;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead tr {
    background: #a73853;
    color: white;
}

th {
    padding: 12px;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #a73853;
}

td {
    padding: 12px;
}

.price-gray {
    color: #999 !important;
    text-decoration: line-through;
}

.unavailable-label {
    color: #777;
    font-size: 13px;
    font-style: italic;
    margin-top: 8px;
    display: block;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 15px;
    margin-right: 10px;
}

.new-price {
    color: #e74c3c;
    font-weight: bold;
    font-size: 18px;
}

/* Стили для цен  */
.price-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.old-price {
    color: #ff0000;
    text-decoration: line-through;
    font-size: 16px;
    opacity: 0.8;
}

.new-price {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.regular-price {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* Цвет карточки при скидке >15% */
.product-card.high-discount {
    background-color: #2E8B57;
}

/* Блок скидки */
.discount-block {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    border-left: 1px solid black;
    flex-shrink: 0;
}

.discount-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-size: 30px;
    text-weight: 600;
}

/* Контейнер для карточек */
.products-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

/* Карточка товара */
.product-card {
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid black;
    min-height: 240px;
    width: 100%;
}

/* Изображение товара */
.product-image {
    width: 280px;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-right: 1px solid black;
}

.product-image img {
    max-width: 300px;
    max-height: 200px;
}

/* Информация о товаре */
.product-info {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
}

/* Верхняя часть */
.product-header {
    margin-bottom: 5px;
    color: black;
    font-size: 20px;
}

/* Детали товара */
.product-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.details-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* Строка с деталями */
.detail-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.detail-text {
    color: black;
    font-size: 14px;
    line-height: 1.5;
    flex: 1;
}

/* Статус склада */
.stock {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
}

.out-of-stock {
    background-color: #7b9fe8;
    border: 1px solid black;
}

/* Скидка */
.discount {
    color: #FFD747;
    font-weight: bold;
    font-size: 16px;
}

/* Нет товаров */
.no-products {
    text-align: center;
    padding: 50px;
    color: #7b9fe8;
    font-size: 18px;
}

/* Подвал */
.site-footer {
    background-color: #7FFF00;
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    width: 100%;
}