
<!-- СТРАНИЦА С ОСНОВНОЙ НАВИГАЦИЕЙ -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'appBOM/css/style.css' %}">
</head>
<body>

    <!-- Шапка -->
    <div class="header">
        <div class="header-content">
                <div class="logo">
                    <img src="{% static 'appBOM/images/icon.png' %}" alt="Обувь" class="logo-img">
                    <span>Обувь</span>
                </div>
            <div class="nav">
                <p>{{ full_name }}</p>
                <a href="{% url 'logout' %}">Выйти</a>
            </div>
        </div>
    </div>

    <!-- Контейнер для кнопок навигации -->
    <div class="container">
        <div class="welcome-section">
            <h2>Добро пожаловать, {{ full_name }}!</h2>
            <p>Роль учетной записи: <strong>
                {% if role == 'admin' %}
                    Администратор
                {% elif role == 'manager' %}
                    Менеджер
                {% elif role == 'client' %}
                    Клиент
                {% endif %}
            </strong></p>
            <div class="action-buttons">

                <!-- Кнопки для администратора -->
                {% if role == 'admin' %}
                    <a href="{% url 'product_list' %}" class="action-btn">Товары</a>
                    <a href="{% url 'order_list' %}" class="action-btn">Заказы</a>

                <!-- Кнопки для менеджера -->
                {% elif role == 'manager' %}
                    <a href="{% url 'product_list' %}" class="action-btn">Товары</a>
                    <a href="{% url 'order_list' %}" class="action-btn">Заказы</a>

                <!-- Кнопки для клиента -->
                {% else %}
                    <a href="{% url 'product_list' %}" class="action-btn">Товары</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Подвал -->
    <footer class="site-footer">
        <p>© 2026 | ООО "Обувь" | Все права защищены | ☆*:.｡.o(≧▽≦)o.｡.:*☆</p>
    </footer>

</body>
</html>